@import "tailwindcss";

button {
  background: black;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 10px;
}

button:hover {
  background: black;
  opacity: 0.8;
  color: white;
}
